# AddOutputFilter INCLUDES .html
AddType application/x-httpd-php .php
AddType application/x-httpd-php .html

AddType text/cache-manifest .manifest
<FilesMatch "\.(?i:epub)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>
<FilesMatch "\.(?i:mobi)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>

